body{
    color:black;
    background-color: aqua;
    margin: 0px;
}

header {
    border-bottom: solid 2px darkblue;
    padding: 15px;
    font-size: 34px;
    color: orangered;
}

section {
    background: rgb(207, 13, 13);
}